.footer {

    background-color: $grey-dark-3;
    padding: 4rem 0;
    font-size: 1.8rem;
 
    &__logo-box {
        text-align: center;
    }

    &__navigation {
        text-decoration: none;
        @include top-border;
    }

    &__item {
        text-decoration: none;
        display: inline-block;
        list-style: none;
        padding: 0 1rem;
        font-size: $default-font-size;
        color: white;
    }

    &__link {
        text-decoration: none;
        color: white;
        &:not(:last-child) {
			margin-right:1.5rem;
        }
    }

    &__copyright {
		color:$grey-light-1;
		@include top-border;
		width:80%;
		float:right;
    }

    &__author {
		text-decoration:none;
		text-transform:uppercase;
		display:inline-block;
		color:$secondary-4;

		&:link,
		&:visited {
			transition:all .4s;
		}

		&:hover,
		&:active {
			box-shadow:0 1rem 2rem rgba($black,.4);
			transform:rotate(5deg) scale(1.3);
		}
    }

}