.about__section {
    background-color: $grey-light-1;
    padding: 7rem 0;
}

.amenity__section {
    background-color: white;
    padding: 7rem 0;
}

.testimonials__section {
    padding: 15rem 0; 
    position: relative;
}

.membership__section {
    padding: 4rem 0;
    background-color: $grey-light-1;
}

.contact__section {
    padding: 5rem 0;
    background-color: $white;
}